<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="Oi."/>
    <meta property="og:description" content="I'm Simão Ponce de Leão Policarpo Nogueira. I like web stuff. Always have. I also design."/>
    <title>Comunicação e Multimédia - UC</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/cm.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/grid.js"></script>
  </head>
  <style media="screen">
    h1 {
      color: lawngreen;
    }
  </style>
  <body>
    <main>
      <section>
        <div class="flooper-container">
          <div class="c-my-flooper js-flooper1">
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
          </div>
        </div>
        <h2>
          <a href="../1">Parte 1.1</a>
          <br>
          <a href="../2">Parte 1.2</a>
          <br>
          <a href="../3">Parte 1.3</a>
          <br>
          <a href="../4">Parte 1.4</a>
          <br>
          <br>
          Esta página é dedicada à 3ª Parte do Trabalho para a disciplina de Comunicação
          e Multimédia, leccionada pela Professora Adriana Sá.
          <br>
          Os conteúdos aqui apresentados foram tratados e recolhidos pelos alunos
          Diogo Gonçalves, Diogo Pereira, Lucas Bueno e Simão Nogueira.
          <br>
          <br>
          O âmbito do trabalho em questão visa a análise de vetores tais como as
          relações entre Som e Imagem, as Descontinuidades e Continuidades da
          performance, bem como o mapear de índices de perceção audio-visual.
          <br>
          LIXOLUXOPOÉTICO é a obra do artista João Ricardo de Barros Oliveira, um
          músico-escultor cuja obra vive no seu Universo disforme e sentido, fugindo
          sempre ao sentido lato do conceito da lógica.
          <br>
          A experimentação e o falar sonoro para descrever situações que doutra forma
          passariam despercebidas são constantes na obra deste artista.
          <br>
          <br>
          <a href="http://www.lixoluxo.com/">www.lixoluxo.com</a> - O portfolio do artista que nos serve de
          repositório de informação sobre a sua obra.
          <br>
          <br>
          <a href="http://expresso.sapo.pt/legislativas2015/2015-09-30-Do-lixo-para-os-palcos-Os-contentores-sao-a-minha-enciclopedia">Os contentores são a minha enciclopédia.</a>
          - Um artigo do Expresso que trata a arte de João Ricardo focado no aumento da quantidade de lixo produzido. Uma plataforma interessante
          para trazer uma arte tão própria e tão codíficada, necessária de análise constante, às massas.
        </h2>
        <div class="important">
          <p>Diogo Gonçalves - uc2016217851.</p>
          <p>Diogo Pereira - uc2016217862.</p>
          <p>Lucas Bueno - uc2016223046.</p>
          <p>Simão Nogueira - uc2016250936.</p>
        </div>
      </section>
      <section>
        <div class="flooper-container">
          <div class="c-my-flooper js-flooper2">
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1.3 - #1</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1.3 - #1</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1.3 - #1</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1.3 - #1</h1>
            </div>
          </div>
        </div>
        <article>
          <h3>Dancing Fish</h3>
          <p>
            Uma performance de João Ricardo and Stefan Weihrauch.
          </p>
        </article>
        <article>
          <br>
          <br>
          <h3>Totalidade</h3>
          <p>
            À medida que o video desenvolve, a correspondência audio-visual aumenta, tal como a semântica global passa a ser mais ambiental, pois se passa a usar mais o espaço ao seu redor. O som tem poucas variações, contudo podemos denotar algumas quebras no ritmo e mudança de instrumentos, dadas as alterações identificadas.
          </p>
          <div class="segmento">
            <video src="/CM-MEDIA/3/TOTAL.mp4" loop controls></video>
          </div>
          <div class="segmento">
            <h3>TOTAL - t-60%</h3>
            <img src="/CM-MEDIA/3/1.png">
            <ul>
              <li>Tanto o som quanto o video nos primeiros 40% mantem uma progressão constante; Há várias correspondências Audio-Visuais; Semântica global mais expressiva.</li>

            </ul>
          </div>
          <div class="segmento">
            <h3>TOTAL - t-50%</h3>
            <img src="/CM-MEDIA/3/2.png">
            <ul>
              <li>Neste segmento, o artista mantem um ritmo constante tanto no som quanto na imagem; Há uma correspondência Audio-Visual forte; Foca-se principalmente no artista, tendo uma semântica global expressiva.</li>

            </ul>
          </div>
          <div class="segmento">
            <h3>TOTAL - t-0%</h3>
            <img src="/CM-MEDIA/3/3.png">
            <ul>
              <li>Nesta ultima parte, existe uma mudança notável no ritmo, quebrando a continuidade da performance, trazendo uma sensação de aleatoriedade; O nivel de correspondÍncia Audio-Visual é semelhante; A semântica global é bastante informacional.</li>

            </ul>
          </div>
        </article>
      </section>
      <section>
        <div class="flooper-container">
          <div class="c-my-flooper js-flooper3">
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1.3 - #2</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1.3 - #2</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1.3 - #2</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1.3 - #2</h1>
            </div>
          </div>
        </div>
        <article>
          <h3>Por Performer</h3>
          <p>
            Uma abordagem à descontrução da obra, focando em cada um dos performers de forma individual. Vetores analisados graficamente
            consoante método apresentado na aula.
          </p>
          <div class="segmento">
            <h3>PERFORMER A</h3>
            <img src="/CM-MEDIA/3/A.png">
            <video src="/CM-MEDIA/3/A.mp4" loop controls></video>
            <ul>
              <li>Perfomance diretamente proporcional ao som, uma continuidade estável e pouco expressiva.</li>

            </ul>
          </div>
          <div class="segmento">
            <h3>PERFORMER B</h3>
            <img src="/CM-MEDIA/3/B.png">
            <video src="/CM-MEDIA/3/B.mp4" loop controls></video>
            <ul>
              <li>Ao longo da sua atuação mantém-se na sombra do artista principal, com uma correspondência audio-visual baixa.</li>

            </ul>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <div class="footer-content">
        <h3>It was nice having you.</h3>
        <p>
          Hope some of this info was what you were looking for.
          <br>
          Though I'm not actively looking for a new job, I am always searching
          for cool stuff to do. Hit me up if your company could be interested
          in whatever it may be I have to offer. Hit me up if you wanna talk design
          and music and work. Hit me up if you're a startup from a cool place and you'd
          like me to visit. Hit me up if you know of a nice event. Hit me up if you have
          a summer internship (yes, this. I am looking for something extra to do in the
          summer).
        </p>
        <p>
          I'm always available.
          <br>
          <br>
          +351 919 794 638
          <br>
          <a href="mailto:hi@ponce.club">hi@ponce.club</a>
          <br>
          <a href="mailto:simao.nogueira@jeknowledge.com">simao.nogueira@jeknowledge.com</a>
          <br>
          <a href="mailto:simao@pinkroom.co">simao@pinkroom.co</a>
        </p>
        <p>
          Best,
          <br>
          Simão
        </p>
      </div>
    </footer>
    <script src="https://unpkg.com/flooper"></script>
    <script type="text/javascript" src="/js/require.js"></script>
    <script type="text/javascript" src="/js/looper.js"></script>
    <script type="text/javascript" src="/js/hi.js"></script>
  </body>
</html>
