<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta property="og:title" content="Oi."/>
  <meta property="og:description" content="I'm Simão Ponce de Leão Policarpo Nogueira. I like web stuff. Always have. I also design."/>
  <title>Simão - Resume</title>
  <link rel="stylesheet" href="/css/master.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script type="text/javascript" src="/js/grid.js"></script>
</head>
  <body>
    <main class="main-large">
      <section>
        <div class="flooper-container">
          <div class="c-my-flooper js-flooper5">
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Resume</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Resume</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Resume</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Resume</h1>
            </div>
          </div>
        </div>
        <h2>
          This is a resume.
          <br>
          This is also my first resume.
          <br>
          I hope this is a nice resume.
          <br>
          <br>
          <a href="/">Take me back.</a>
        </h2>
      </section>
      <section>
        <div class="flooper-container">
          <div class="c-my-flooper js-flooper6">
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Read me </h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Read me </h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Read me </h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Read me </h1>
            </div>
          </div>
        </div>
        <article>
          <h3>Resume</h3>
          <p>
            Again, hi. 
            <br>
            <br>
            There have been four main experiences in which I've grown both technically and as a person and as a designer. 
            <br>
            <br>
            The first one, the KRAKEN, a tiny operation I ran initially selling home printed tshirts with a couple quirky designs made in paint.net, was when I first began this journey as an entrepreneur. I knew that somehow I needed some money to buy a nice computer, to go out with friends, and I also knew that I was sort of ok at coming up with interesting pictures and drawings. I put both things together, and this was what came out. 
            <br>
            <br>
            Further down the road, having learnt from my own mistakes and having also grown into a more mature teen, I decided tshirts were through, and so I started selling myself as a graphic designer. I learnt the tools of the trade - Photoshop and Illustrator - found some gullible customers (sorry if anyone's reading) - and charged what I thought was reasonable at the time for a service I knew very little about. 
            <br>
            <br>
            I did photography gigs, video gigs, I designed a couple of cheesy logos for a tattoo artist, for a classical dance school... I recognised a lot of talent in a classmate of mine, and so I approached him to work with me. From there on out it was the two of us together. 
            <br>
            <br>
            I got the customers, came up with the ideas, he did video/animation work, I did graphic work, and we both grabbed the camera every once in a while. We made a bit of money together, got some monthly paying costumers and started investing in equipment. It got to a point when the idea of realising this project and turning it into a real company started almost making sense, but then university came and... oh, right. 
            <br>
            <br>
            In the meantime, I got into the a group running for the Student's Association at the high school I went to. 
            <br>
            <br>
            Initially I took care of arranging the branding for our campaign, of making sure the artists we invited to come to the parties we organised were there on time, etc. etc. It was a team of about 20 people, though when it came to actually working, we were about 5 or so. Me and the President, my best friend, took it to ourselves to make sure not only we won, but also that we used this opportunity to learn about business, entrepreneuring and team management. 
            <br>
            <br>
            As I was saying, university came about. 
            <br>
            <br>
            the KRAKEN was put on hold, and other projects came along. This is where the 3rd experience began. 
            <br>
            <br>
            jeKnowledge is the main Junior Enterprise in the faculty at which I study. We organize events, we develop apps and websites, but the one thing we do better than any other initiative like this that I know of is: we know how to learn as we have fun. 
            <br>
            <br>
            I started out as the nervous intern. I had quite a lot more experience than my fellows at the time when it came to design, but that was it. My goal was learn, learn and learn, and to do, do and do. And so every project, no matter how big or small, that I got offers, I took it. Maybe not the smartest decision, but hey, things kinda worked out. 
            <br>
            <br>
            My effort was recognised, and after about 8 months I was given the title of senior designer. I was getting assigned more and more project management roles, and I was beginning to understand what this was all about. I started to love working with different people, and I was enjoying the more high level work I was doing. Getting my hands dirty designing from time to time felt refreshing, and so I kept on going. 
            <br>
            <br>
            Right about then I ran for an internship opening at Whitesmith, an IoT, Product Studio born in Coimbra. I was the youngest candidate - a first year student at the time - but I got it. It might have been my honest interest in learning that did it for them. 
            <br>
            <br>
            Summer time comes and the internship begins. I learn frontend web dev like I never thought I could... Being so close to real projects and real costumers with big consequences to poorly written code and poorly organised work made it an awesome way to force myself to stay up late and wake up early. 
            <br>
            <br>
            I failed at many of the things I thought I'd do great at based on past experience. But I recognise just how lucky I was for the opportunity, and even more do I understand how successful this failure actually was. I felt ready to take on another semester of school, I'd made some really cool new friends, and I'd learnt some incredible things. 
            <br>
            <br>
            Getting back to jeK, I've now been assigned as CEO and CTO of the place. I'm in charge of making sure these 32 friends get some work done, that we reach our goals, and that we all have as much fun as possible as we do so. Sleep has been set aside, but I'm feeling great. Never before had I felt as realised about my work. 
            <br>
            <br>
            Measuring success is hard. I'm still not where I want to be in 2 years, not even where I wanna be in 6 months. To be honest, I still feel a little behind on what I should be doing. I wanna go out, meet more new people and learn more new things. I wanna bring it all back with me and teach those who are looking for a path similar to mine, just the way I was taught. 
            <br>
            <br>
            I'd love to work with you, whoever you may be. And sorry for the long text. Apparently I'm not very good at resumes. 
            <br>
            <br>
            (P.S.: I'm also working and founding Pink Room with a couple of friends. It's very early on to really have too much to say about it.) 
            <br>
            <br>
            (P.P.S.: There are a couple of projects of mine on the root of the website, as well as a little more personal info. Please have a look if this interested you in any way.)
          </p>
          <br>
          <a href="/">Take me back.</a>
        </article>
        <div class="important">
          <p>Resume? Resume.</p>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-content">
        <h3>It was nice having you.</h3>
        <p>
          Hope some of this info was what you were looking for.
          <br>
          Though I'm not actively looking for a new job, I am always searching
          for cool stuff to do. Hit me up if your company could be interested
          in whatever it may be I have to offer. Hit me up if you wanna talk design
          and music and work. Hit me up if you're a startup from a cool place and you'd
          like me to visit. Hit me up if you know of a nice event. Hit me up if you have
          a summer internship (yes, this. I am looking for something extra to do in the
          summer).
        </p>
        <p>
          I'm always available.
          <br>
          <br>
          +351 919 794 638
          <br>
          <a href="mailto:hi@ponce.club">hi@ponce.club</a>
          <br>
          <a href="mailto:simao.nogueira@jeknowledge.com">simao.nogueira@jeknowledge.com</a>
          <br>
          <a href="mailto:simao@pinkroom.co">simao@pinkroom.co</a>
        </p>
        <p>
          Best,
          <br>
          Simão
        </p>
      </div>
    </footer>
    <script src="https://unpkg.com/flooper"></script>
    <script type="text/javascript" src="/js/require.js"></script>
    <script type="text/javascript" src="/js/looper-resume.js"></script>
    <script type="text/javascript" src="/js/hi.js"></script>
  </body>
</html>
