<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="Oi."/>
    <meta property="og:description" content="I'm Simão Ponce de Leão Policarpo Nogueira. I like web stuff. Always have. I also design."/>
    <title>Comunicação e Multimédia - UC</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/cm.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/grid.js"></script>
  </head>
  <body>
    <main>
      <section>
        <div class="flooper-container">
          <div class="c-my-flooper js-flooper1">
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
          </div>
        </div>
        <h2>
          <a href="../1">Parte 1</a>
          <br>
          <a href="../2">Parte 2</a>
          <br>
          <a href="../3">Parte 3</a>
          <br>
          <a href="../4">Parte 4</a>
          <br>
          <br>
          Esta página é dedicada à 1ª Parte do Trabalho para a disciplina de Comunicação
          e Multimédia, leccionada pela Professora Adriana Sá.
          <br>
          Os conteúdos aqui apresentados foram tratados e recolhidos pelos alunos
          Diogo Gonçalves, Diogo Pereira, Lucas Bueno e Simão Nogueira.
          <br>
          <br>
          O âmbito do trabalho em questão visa a análise de vetores tais como as
          relações entre Som e Imagem, as Descontinuidades e Continuidades da
          performance, bem como o mapear de índices de perceção audio-visual.
          <br>
          LIXOLUXOPOÉTICO é a obra do artista João Ricardo de Barros Oliveira, um
          músico-escultor cuja obra vive no seu Universo disforme e sentido, fugindo
          sempre ao sentido lato do conceito da lógica.
          <br>
          A experimentação e o falar sonoro para descrever situações que doutra forma
          passariam despercebidas são constantes na obra deste artista.
          <br>
          <br>
          <a href="http://www.lixoluxo.com/">www.lixoluxo.com</a> - O portfolio do artista que nos serve de
          repositório de informação sobre a sua obra.
          <br>
          <br>
          <a href="http://expresso.sapo.pt/legislativas2015/2015-09-30-Do-lixo-para-os-palcos-Os-contentores-sao-a-minha-enciclopedia">Os contentores são a minha enciclopédia.</a>
          - Um artigo do Expresso que trata a arte de João Ricardo focado no aumento da quantidade de lixo produzido. Uma plataforma interessante
          para trazer uma arte tão própria e tão codíficada, necessária de análise constante, às massas.
        </h2>
        <div class="important">
          <p>Diogo Gonçalves - uc2016250936.</p>
          <p>Diogo Pereira - uc2016250936.</p>
          <p>Lucas Bueno - uc2016250936.</p>
          <p>Simão Nogueira - uc2016250936.</p>
        </div>
      </section>
      <section>
        <div class="flooper-container">
          <div class="c-my-flooper js-flooper2">
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1 - #1</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1 - #1</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1 - #1</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1 - #1</h1>
            </div>
          </div>
        </div>
        <article>
          <h3>LIXOLUXO - Cactus Sonorus</h3>
          <p>
            Uma composição performativa que joga com o som produzido pelo contacto
            entre diversos meios atuantes e cactos.
          </p>
        </article>
        <article>
          <br>
          <br>
          <h3>Totalidade</h3>
          <p>
            Uma abordagem inicial ao completo da Obra.
          </p>
          <h3>Vetores analisados:</h3>
          <ul>
            <li>Interação</li>
            <ul>
              <li>Uma performance em que o artista é chave para a produção do som.</li>
              <li>A interação atuador/método de atuação é inerente ao ato de tocar, mexer,
              raspar os cactos.</li>
              <li>Optou-se por não colocar no expoente máximo do vetor da Interação dada a utilização
              de elementos que se colocam entre artista e veículo de produção sonora.</li>
            </ul>
            <br>
            <li>Correspondência Audio Visual</li>
            <ul>
              <li>
                A imprevisibilidade do contacto dos objetos atuantes com o cacto torna difícil de equacionar
                a ligação entre o SOM e a IMAGEM.
              </li>
              <li>
                Não podendo ignorar o primeiro segmento do VETOR, para este segundo considerou-se uma maior
                ligação entre o SOM e o GESTO FÍSICO. A componente performativa leva a um exagerado
                expressionismo (analisando de um ponto de vista muoto conservador, claro), fazendo convergir
                a esta relação grande importância.
              </li>
            </ul>
            <br>
            <li>Arena Performativa</li>
            <ul>
              <li>
                O objeto que provoca o som está junto do artista, a captura de vibrações provenientes dos cactos
                junta o analógico ao digital, amplificado e sonorizado por amplificadores e colunas direccionadas
                à audiência.
              </li>
            </ul>
            <br>
            <li>Performer</li>
            <ul>
              <li>Absolutamente integrado.</li>
              <li>
                Desde a criação do objeto sonoro à conceptualização e concretização
                da performance, o performer está sempre presente. Entrando pela Filosofia
                do Ato, fazendo referência à arte como artista e a sua obra e não objeto que lhe é alheio.
              </li>
            </ul>
            <br>
            <li>Semântica Global</li>
            <ul>
              <li>
                Dada a estreita ligação entre o artista e o objeto sonoro a partir
                do qual cria o som, cria-se uma dualidade semântica, em que, pondo
                de parte a aptidão para criar música, algo que "para aqui não é chamado",
                a dimensão conceptual, saturada de informação que a audiência deve
                descodificar, mistura-se com a própria execução e construção aparentemente
                muito manual (quase da dimensão da obra de arte enquanto peça única)
                dos instrumentos com que se produz o som.
              </li>
            </ul>
          </ul>
        </article>
      </section>
      <section>
        <div class="flooper-container">
          <div class="c-my-flooper js-flooper3">
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1 - #2</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1 - #2</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1 - #2</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1 - #2</h1>
            </div>
          </div>
        </div>
        <article>
          <h3>Por Partes</h3>
          <p>
            Uma abordagem à descontrução da obra. Vetores analisados graficamente
            consoante método apresentado na aula.
          </p>
          <div class="segmento">
            <h3>Segmento #1 - 00:00/00:14</h3>
            <img src="/CM-MEDIA/1.png">
            <video src="/CM-MEDIA/1.mp4" loop controls></video>
            <ul>
              <li>Lorem Title</li>
              <ul>
                <li>
                  Uma performance em que o artista é chave para a produção do som.
                </li>
                <li>
                  A interação atuador/método de atuação é inerente ao ato de tocar,
                  mexer, raspar os cactos.
                </li>
              </ul>
            </ul>
          </div>
          <div class="segmento">
            <h3>Segmento #2 - 00:15/00:29</h3>
            <img src="/CM-MEDIA/2.png">
            <video src="/CM-MEDIA/2.mp4" loop controls></video>
            <ul>
              <li>Lorem Title</li>
              <ul>
                <li>
                  Uma performance em que o artista é chave para a produção do som.
                </li>
                <li>
                  A interação atuador/método de atuação é inerente ao ato de tocar,
                  mexer, raspar os cactos.
                </li>
              </ul>
            </ul>
          </div>
          <div class="segmento">
            <h3>Segmento #3 - 00:30/01:24</h3>
            <img src="/CM-MEDIA/3.png">
            <video src="/CM-MEDIA/3.mp4" loop controls></video>
            <ul>
              <li>Lorem Title</li>
              <ul>
                <li>
                  Uma performance em que o artista é chave para a produção do som.
                </li>
                <li>
                  A interação atuador/método de atuação é inerente ao ato de tocar,
                  mexer, raspar os cactos.
                </li>
              </ul>
            </ul>
          </div>
          <div class="segmento">
            <h3>Segmento #4 - 01:25/01:31</h3>
            <img src="/CM-MEDIA/4.png">
            <video src="/CM-MEDIA/4.mp4" loop controls></video>
            <ul>
              <li>Lorem Title</li>
              <ul>
                <li>
                  Uma performance em que o artista é chave para a produção do som.
                </li>
                <li>
                  A interação atuador/método de atuação é inerente ao ato de tocar,
                  mexer, raspar os cactos.
                </li>
              </ul>
            </ul>
          </div>
          <div class="segmento">
            <h3>Segmento #5 - 01:32/01:44</h3>
            <img src="/CM-MEDIA/5.png">
            <video src="/CM-MEDIA/5.mp4" loop controls></video>
            <ul>
              <li>Lorem Title</li>
              <ul>
                <li>
                  Uma performance em que o artista é chave para a produção do som.
                </li>
                <li>
                  A interação atuador/método de atuação é inerente ao ato de tocar,
                  mexer, raspar os cactos.
                </li>
              </ul>
            </ul>
          </div>
          <div class="segmento">
            <h3>Segmento #6 - 01:45/02:04</h3>
            <img src="/CM-MEDIA/6.png">
            <video src="/CM-MEDIA/6.mp4" loop controls></video>
            <ul>
              <li>Lorem Title</li>
              <ul>
                <li>
                  Uma performance em que o artista é chave para a produção do som.
                </li>
                <li>
                  A interação atuador/método de atuação é inerente ao ato de tocar,
                  mexer, raspar os cactos.
                </li>
              </ul>
            </ul>
          </div>
          <div class="segmento">
            <h3>Segmento #7 - 02:05/02:44</h3>
            <img src="/CM-MEDIA/7.png">
            <video src="/CM-MEDIA/7.mp4" loop controls></video>
            <ul>
              <li>Lorem Title</li>
              <ul>
                <li>
                  Uma performance em que o artista é chave para a produção do som.
                </li>
                <li>
                  A interação atuador/método de atuação é inerente ao ato de tocar,
                  mexer, raspar os cactos.
                </li>
              </ul>
            </ul>
          </div>
          <div class="segmento">
            <h3>Segmento #8 - 02:45/02:59</h3>
            <img src="/CM-MEDIA/8.png">
            <video src="/CM-MEDIA/8.mp4" loop controls></video>
            <ul>
              <li>Lorem Title</li>
              <ul>
                <li>
                  Uma performance em que o artista é chave para a produção do som.
                </li>
                <li>
                  A interação atuador/método de atuação é inerente ao ato de tocar,
                  mexer, raspar os cactos.
                </li>
              </ul>
            </ul>
          </div>
          <div class="segmento">
            <h3>Segmento #9 - 03:00/04:17</h3>
            <img src="/CM-MEDIA/9.png">
            <video src="/CM-MEDIA/9.mp4" loop controls></video>
            <ul>
              <li>Lorem Title</li>
              <ul>
                <li>
                  Uma performance em que o artista é chave para a produção do som.
                </li>
                <li>
                  A interação atuador/método de atuação é inerente ao ato de tocar,
                  mexer, raspar os cactos.
                </li>
              </ul>
            </ul>
          </div>
          <div class="segmento">
            <h3>Segmento #10 - 04:18/04:34</h3>
            <img src="/CM-MEDIA/10.png">
            <video src="/CM-MEDIA/10.mp4" loop controls></video>
            <ul>
              <li>Lorem Title</li>
              <ul>
                <li>
                  Uma performance em que o artista é chave para a produção do som.
                </li>
                <li>
                  A interação atuador/método de atuação é inerente ao ato de tocar,
                  mexer, raspar os cactos.
                </li>
              </ul>
            </ul>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <div class="footer-content">
        <h3>It was nice having you.</h3>
        <p>
          Hope some of this info was what you were looking for.
          <br>
          Though I'm not actively looking for a new job, I am always searching
          for cool stuff to do. Hit me up if your company could be interested
          in whatever it may be I have to offer. Hit me up if you wanna talk design
          and music and work. Hit me up if you're a startup from a cool place and you'd
          like me to visit. Hit me up if you know of a nice event. Hit me up if you have
          a summer internship (yes, this. I am looking for something extra to do in the
          summer).
        </p>
        <p>
          I'm always available.
          <br>
          <br>
          +351 919 794 638
          <br>
          <a href="mailto:hi@ponce.club">hi@ponce.club</a>
          <br>
          <a href="mailto:simao.nogueira@jeknowledge.com">simao.nogueira@jeknowledge.com</a>
          <br>
          <a href="mailto:simao@pinkroom.co">simao@pinkroom.co</a>
        </p>
        <p>
          Best,
          <br>
          Simão
        </p>
      </div>
    </footer>
    <script src="https://unpkg.com/flooper"></script>
    <script type="text/javascript" src="/js/require.js"></script>
    <script type="text/javascript" src="/js/looper.js"></script>
    <script type="text/javascript" src="/js/hi.js"></script>
  </body>
</html>
