<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="Oi."/>
    <meta property="og:description" content="I'm Simão Ponce de Leão Policarpo Nogueira. I like web stuff. Always have. I also design."/>
    <title>Comunicação e Multimédia - UC</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/cm.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/grid.js"></script>
  </head>
  <style media="screen">
    h1 {
      color: yellow;
    }
  </style>
  <body>
    <main>
      <section>
        <div class="flooper-container">
          <div class="c-my-flooper js-flooper1">
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
          </div>
        </div>
        <h2>
          <a href="1">Parte 1.1</a>
          <br>
          <a href="2">Parte 1.2</a>
          <br>
          <a href="3">Parte 1.3</a>
          <br>
          <a href="4">Parte 1.4</a>

        <div class="important">
          <p>Diogo Gonçalves - uc2016217851.</p>
          <p>Diogo Pereira - uc2016217862.</p>
          <p>Lucas Bueno - uc2016223046.</p>
          <p>Simão Nogueira - uc2016250936.</p>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-content">
        <h3>It was nice having you.</h3>
        <p>
          Hope some of this info was what you were looking for.
          <br>
          Though I'm not actively looking for a new job, I am always searching
          for cool stuff to do. Hit me up if your company could be interested
          in whatever it may be I have to offer. Hit me up if you wanna talk design
          and music and work. Hit me up if you're a startup from a cool place and you'd
          like me to visit. Hit me up if you know of a nice event. Hit me up if you have
          a summer internship (yes, this. I am looking for something extra to do in the
          summer).
        </p>
        <p>
          I'm always available.
          <br>
          <br>
          +351 919 794 638
          <br>
          <a href="mailto:hi@ponce.club">hi@ponce.club</a>
          <br>
          <a href="mailto:simao.nogueira@jeknowledge.com">simao.nogueira@jeknowledge.com</a>
          <br>
          <a href="mailto:simao@pinkroom.co">simao@pinkroom.co</a>
        </p>
        <p>
          Best,
          <br>
          Simão
        </p>
      </div>
    </footer>
    <script src="https://unpkg.com/flooper"></script>
    <script type="text/javascript" src="/js/require.js"></script>
    <script type="text/javascript" src="/js/looper.js"></script>
    <script type="text/javascript" src="/js/hi.js"></script>
  </body>
</html>
