<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="Oi."/>
    <meta property="og:description" content="I'm Simão Ponce de Leão Policarpo Nogueira. I like web stuff. Always have. I also design."/>
    <title>Comunicação e Multimédia - UC</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/cm.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/grid.js"></script>
  </head>
  <style media="screen">
    h1 {
      color: lightblue;
    }
  </style>
  <body>
    <main>
      <section>
        <div class="flooper-container">
          <div class="c-my-flooper js-flooper1">
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
          </div>
        </div>
        <h2>
          Esta página é dedicada ao 2º Projeto da disciplina de Comunicação
          e Multimédia, leccionada pela Professora Adriana Sá.
          <br>
          Os conteúdos aqui apresentados foram tratados e recolhidos pelos alunos
          Jorge Fernandes, Miguel Vasconcelos e Simão Nogueira.
          <br>
          <br>
          O âmbito do trabalho em questão visa a análise de vetores tais como as
          relações entre Som e Imagem, as Descontinuidades e Continuidades da
          performance, bem como o mapear de índices de perceção audio-visual.
          <br>
          A obra analisada foi composta com sons gravados, tratados e analisados
          pelos alunos no Departamento de Engenharia Informática. Uma
          Música Concreta intitulada "SoundEI".
          <br>
          <br>
          <br>
          Referências:
          <br>
          <a href="https://www.youtube.com/watch?v=iu8tspoGuWw&ab_channel=SubtextRecordings">emptyset - Collapse</a>
          <br>
          <a href="http://www.lixoluxo.com/cactus-sonorus/">CACTUS SONORUS</a>
          <br>
          <a href="http://www.lixoluxo.com/lixoluxopoetico-ii/">LIXOLUXOPÓETICO</a>
        </h2>
        <div class="important">
          <p>Jorge Fernandes - uc2016250936;</p>
          <p>Miguel Vasconcelos - uc2016250936;</p>
          <p>Simão Nogueira - uc2016250936.</p>
        </div>
      </section>
      <section>
        <div class="flooper-container">
          <div class="c-my-flooper js-flooper2">
            <div class="c-my-flooper__el js-flooper-item">
              <h1>SoundEI - Total</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>SoundEI - Total</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>SoundEI - Total</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>SoundEI - Total</h1>
            </div>
          </div>
        </div>
          <h3>SoundEI</h3>
          <p>
            Análise Total da Peça, Segundo a Segundo.
          </p>
          <div class="segmento">
            <video src="/CM-MEDIA/5/TOTAL.mp4" loop controls></video>
          </div>
            <ul>
              <br>
              <br>
              <h3>GERAL</h3>
              <br>
              <h3>Descontinuidades - Som</h3>
              <br>
              <li>
                O som vai mudando rapidamente ao longo do vídeo, criando padrões e sucessões que criam grandes descontinuidades e algumas continuidades.
              </li>
              <br>
              <h3>Descontinuidades - Imagem</h3>
              <br>
              <li>
                O vídeo vai mantendo uma sucessão de padrões ao nível visual que são sucedidos por mudanças bruscas, violentas e rápidas.
              </li>
              <br>
              <h3>Correspondência Audiovisual</h3>
              <br>
              <li>
                Na maioria do vídeo, existe sempre uma correspondência entre o som e a imagem, embora haja certos momentos em que seja possível ouvir outros sons além daqueles que são visíveis.
              </li>
              <h3>Semântica Global - Informacional</h3>
              <br>
              <li>
                O som e a imagem são geralmente reconhecíveis pelo visualizador, visto que existe uma elevada correspondência entre estes. Assim, podemos afirmar que o vídeo é maioritariamente informacional.
              </li>
              <br>
              <h3>Semântica Global</h3>
              <br>
              <li>
                Existe um grande foco sobre o indivíduo e os seus movimentos, nomeadamente o bater das canetas e o raspar do sapato. Portanto, existe uma elevada semântica expressiva.
              </li>
            </ul>
          <br>
          <br>
          <br>
            <ul>
              <h3>00:00 - 00:09</h3>
              <br>
              <img src="/CM-MEDIA/5/1.png">
              <br>
              <h3>Correspondência Audiovisual</h3>
              <br>
              <li>
                Nos primeiros nove segundos, é possível observar que cada bater ou raspar da caneta no corrimão ou o raspar do sapato no chão corresponde exatamente à imagem vista no vídeo.
              </li>
              <h3>Semântica Global - Informacional</h3>
              <br>
              <li>
                Como existe uma correspondência exata entre som e imagem e estes são reconhecíveis pelo visualizador, podemos afirmar que esta secção é extremamente informacional.
              </li>
              <br>
              <h3>Semântica Global</h3>
              <br>
              <li>
                Existe um grande foco sobre o indivíduo e os seus movimentos, nomeadamente o bater das canetas e o raspar do sapato. Portanto, existe uma elevada semântica expressiva.
              </li>
            </ul>
          <br>
          <br>
          <br>
            <ul>
              <h3>00:09 - 00:30</h3>
              <br>
              <img src="/CM-MEDIA/5/2.png">
              <br>
              <h3>Correspondência Audiovisual</h3>
              <br>
              <li>
                Embora, haja uma certa correspondência em certas partes desta secção, torna-se evidente que existem sons a serem produzidos para além daqueles que são possíveis observar, como o bater das canetas no corrimão e na parede. Existem também outros sons que nem aparecem visualmente durante estes segundos.
              </li>
              <br>
              <h3>Semântica Global - Informacional</h3>
              <br>
              <li>
                Apesar da correspondência audiovisual ser baixa, é dada a possibilidade ao visualizador de observar todos os sons produzidos neste intervalo de tempo. Sendo assim, os sons são quase sempre reconhecíveis, aumentado a informacionalidade.
              </li>
              <br>
              <h3>Semântica Global</h3>
              <br>
              <li>
                Existe um grande foco sobre o indivíduo e os seus movimentos, nomeadamente o bater das canetas e o raspar do sapato. Portanto, existe uma elevada semântica expressiva.
              </li>
            </ul>
          <br>
          <br>
          <br>
            <ul>
              <h3>00:30 - 00:40</h3>
              <br>
              <img src="/CM-MEDIA/5/3.png">
              <br>
              <h3>Correspondência Audiovisual</h3>
              <br>
              <li>
                Nestes dez segundos, conseguimos perceber que o som produzido pelo sapato corresponde exatamente à imagem deste a raspar no chão.
              </li>
              <br>
              <h3>Semântica Global - Informacional</h3>
              <br>
              <li>
                A imagem e o som são reconhecíveis pelo visualizador, visto que existe uma correspondência exata entre estes. Assim, podemos afirmar que esta secção é extremamente informacional.
              </li>
              <br>
              <h3>Semântica Global</h3>
              <br>
              <li>
                Existe um grande foco sobre o indivíduo e os seus movimentos, nomeadamente o bater das canetas e o raspar do sapato. Portanto, existe uma elevada semântica expressiva.
              </li>
            </ul>
          <br>
          <br>
          <br>
            <ul>
              <h3>00:40 - 00:51</h3>
              <br>
              <img src="/CM-MEDIA/5/4.png">
              <br>
              <h3>Correspondência Audiovisual</h3>
              <br>
              <li>
                Nestes dez segundos, conseguimos perceber que o som produzido pela caneta e pelo raspar do sapato corresponde exatamente à imagem vista.
              </li>
              <br>
              <h3>Semântica Global - Informacional</h3>
              <br>
              <li>
                A imagem e o som são reconhecíveis pelo visualizador, visto que existe uma correspondência exata entre estes. Assim, podemos afirmar que esta secção é informacional. Mas como o som da caneta a bater no corrimão parece ter sido alterado digitalmente, torna-se mais demorado a identificação do mesmo.
              </li>
              <br>
              <h3>Semântica Global</h3>
              <br>
              <li>
                Existe um grande foco sobre o indivíduo e os seus movimentos, nomeadamente o bater das canetas e o raspar do sapato. Portanto, existe uma elevada semântica expressiva.
              </li>
            </ul>
          <br>
          <br>
          <br>
            <ul>
              <h3>00:51 - 01:00</h3>
              <br>
              <img src="/CM-MEDIA/5/5.png">
              <br>
              <h3>Correspondência Audiovisual</h3>
              <br>
              <li>
                A imagem e som continuam, após a última secção, a terem uma correspondência perfeita. Cada bater das canetas na parede corresponde a um som do vídeo.
              </li>
              <br>
              <h3>Semântica Global - Informacional</h3>
              <br>
              <li>
                Como existe uma correspondência exata entre som e imagem e estes são reconhecíveis pelo visualizador, podemos afirmar que esta secção é extremamente informacional.
              </li>
              <br>
              <h3>Semântica Global</h3>
              <br>
              <li>
                Existe um grande foco sobre o indivíduo e os seus movimentos, nomeadamente o bater das canetas e o raspar do sapato. Portanto, existe uma elevada semântica expressiva.
              </li>
            </ul>
          <br>
          <br>
          <br>
            <ul>
              <h3>01:00 - 01:09</h3>
              <br>
              <img src="/CM-MEDIA/5/6.png">
              <br>
              <h3>Correspondência Audiovisual</h3>
              <br>
              <li>
                Visualmente, é apenas possível ver o bater das canetas no cinzeiro e, embora ouçamos este som, é também possível ouvir o bater das canetas na parede e no corrimão.
              </li>
              <br>
              <h3>Semântica Global - Informacional</h3>
              <br>
              <li>
                A informacionalidade é baixa, visto que o utilizador apenas reconhece um dos sons produzidos neste intervalo de tempo. Todos os outros tornam-se confusos e difíceis de associar a um gesto.
              </li>
              <br>
              <h3>Semântica Global</h3>
              <br>
              <li>
                Existe um grande foco sobre o indivíduo e os seus movimentos, nomeadamente o bater das canetas e o raspar do sapato. Portanto, existe uma elevada semântica expressiva.
              </li>
            </ul>
          <br>
          <br>
          <br>
            <ul>
              <h3>01:09 - 01:18</h3>
              <br>
              <img src="/CM-MEDIA/5/7.png">
              <br>
              <h3>Correspondência Audiovisual</h3>
              <br>
              <li>
                Nestes nove segundos, conseguimos ligar cada bater da caneta no cinzeiro a um som do vídeo, havendo assim uma correspondência perfeita.
              </li>
              <br>
              <h3>Semântica Global - Informacional</h3>
              <br>
              <li>
                O som e a imagem são reconhecíveis pelo visualizador, visto que existe uma elevada correspondência entre estes. Assim, podemos afirmar que este intervalo de tempo é altamente informacional.
              </li>
              <br>
              <h3>Semântica Global</h3>
              <br>
              <li>
                Existe um grande foco sobre o indivíduo e os seus movimentos, nomeadamente o bater das canetas e o raspar do sapato. Portanto, existe uma elevada semântica expressiva.
              </li>
            </ul>
          <br>
          <br>
          <br>
            <ul>
              <h3>01:18 - 01:30</h3>
              <br>
              <img src="/CM-MEDIA/5/8.png">
              <br>
              <h3>Correspondência Audiovisual</h3>
              <br>
              <li>
                Nesta secção do vídeo, é possível identificar visualmente os dois sons escutados, mas apenas o raspar do sapato corresponde audiovisualmente, ao contrário, do bater das canetas que nem sempre é possível observar.
              </li>
              <br>
              <h3>Semântica Global - Informacional</h3>
              <br>
              <li>
                Neste intervalo de tempo, o utilizador conhece reconhecer os dois sons produzidos, embora nem sempre os sons correspondam à imagem. Apesar disso, a facilidade na identificação dos sons é tão elevada que a informacionalidade também é.
              </li>
              <br>
              <h3>Semântica Global</h3>
              <br>
              <li>
                Existe um grande foco sobre o indivíduo e os seus movimentos, nomeadamente o bater das canetas e o raspar do sapato. Portanto, existe uma elevada semântica expressiva.
              </li>
            </ul>
          <br>
          <br>
          <br>
            <ul>
              <h3>01:30 - 02:01</h3>
              <br>
              <img src="/CM-MEDIA/5/9.png">
              <br>
              <h3>Correspondência Audiovisual</h3>
              <br>
              <li>
                Enquanto observamos o artista a bater com a caneta na lâmpada, é possível ouvir o som contínuo do bater das canetas no corrimão, havendo assim uma pequena correspondência audiovisual.
              </li>
              <br>
              <h3>Semântica Global - Informacional</h3>
              <br>
              <li>
                Apesar da correspondência audiovisual ser baixa, é dada a possibilidade ao visualizador de observar os dois sons produzidos nesta secção. Sendo assim, os sons são sempre reconhecíveis, aumentado a informacionalidade.
              </li>
              <br>
              <h3>Semântica Global</h3>
              <br>
              <li>
                Existe um grande foco sobre o indivíduo e os seus movimentos, nomeadamente o bater das canetas e o raspar do sapato. Portanto, existe uma elevada semântica expressiva.
              </li>
            </ul style="margin-bottom: 42px;">
        </article>
      </section>
      <section>
        <div class="flooper-container">
          <div class="c-my-flooper js-flooper3">
            <div class="c-my-flooper__el js-flooper-item">
              <h1>SoundEI - Segmento</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>SoundEI - Segmento</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>SoundEI - Segmento</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>SoundEI - Segmento</h1>
            </div>
          </div>
        </div>
        <article>
          <h3>Análise Segmentada da Peça</h3>
          <p>
            Som e Imagem
          </p>

          <div class="segmento">
            <h3>Análise do Audio da Peça:</h3>
            <img src="/CM-MEDIA/5/geral.png">
            <audio src="/CM-MEDIA/5/audio.mp3" loop controls></audio>
            <ul>
                <h3>00:00 - 00:09</h3>
                <br>
                <h3>Descontinuidades - Som</h3>
                <br>
                <li>
                    A transição de sons durante estes nove segundos é bruta e rápida, não dando possibilidades de desviar a atenção do vídeo. Não há qualquer continuidade nos sons nem nenhum padrão nas transições, logo há descontinuidade radical.
                </li>

            </ul>
            <br>
            <br>
            <br>
            <ul>
                <h3>00:09 - 00:30</h3>
                <br>
                <h3>Descontinuidades - Som</h3>
                <br>
                <li>
                    Embora haja mudanças rápidas ao longo desta secção, estas acabam por criar um padrão que permite haver descontinuidades e continuidades, havendo um grau de atenção elevado e, consequentemente descontinuidade ambivalente.
                </li>

            </ul>
            <br>
            <br>
            <br>
            <ul>
                <h3>00:30 - 00:40</h3>
                <br>
                <h3>Descontinuidades - Som</h3>
                <br>
                <li>
                    A rápida sucessão de sons chamam a atenção do visualizador e o aumento da velocidade destes faz com que o utilizador mantenha-se sempre focado. Como há um padrão na velocidade dos sons, mas estes mudam violentamente, podemos afirmar que existe descontinuidade ambivalente.
                </li>

            </ul>
            <br>
            <br>
            <br>
            <ul>
                <h3>00:40 - 00:51</h3>
                <br>
                <h3>Descontinuidades - Som</h3>
                <br>
                <li>
                    Embora haja poucas mudanças de som ao longo desta secção, estas são rápidas e acabam por criar um padrão, o que permite haver descontinuidades e continuidades, havendo assim um grau de atenção elevado e, consequentemente descontinuidade ambivalente.
                </li>

            </ul>
            <br>
            <br>
            <br>
            <ul>
                <h3>00:51 - 01:00</h3>
                <br>
                <h3>Descontinuidades - Som</h3>
                <br>
                <li>
                    Existe claramente um padrão contínuo na mudança do som ao longo desta secção que se torna mais rápido, brusco e repetitivo, podendo o visualizador perder a atenção. Por isso, existe continuidade progressiva.
                </li>

            </ul>
            <br>
            <br>
            <br>
            <ul>
                <h3>01:00 - 01:09</h3>
                <br>
                <h3>Descontinuidades - Som</h3>
                <br>
                <li>
                    A transição de sons durante estes nove segundos é violenta e frenética, não dando a possibilidades de desviar a atenção do vídeo. Não há qualquer continuidade nos sons e existe um leve padrão, logo há descontinuidade radical.
                </li>

            </ul>
            <br>
            <br>
            <br>
            <ul>
                <h3>01:09 - 01:18</h3>
                <br>
                <h3>Descontinuidades - Som</h3>
                <br>
                <li>
                    Neste intervalo de tempo, o som mantém-se sempre igual, não havendo mudanças bruscas nem violentas, levando o visualizador a desviar o foco. Devido a estas características, há continuidade estável.
                </li>

            </ul>
            <br>
            <br>
            <br>
            <ul>
                <h3>01:18 - 01:30</h3>
                <br>
                <h3>Descontinuidades - Som</h3>
                <br>
                <li>
                    A rápida sucessão de sons chamam a atenção do visualizador e o aumento da velocidade destes faz com que o utilizador mantenha-se sempre focado. Como há um padrão na velocidade dos sons, mas estes mudam violentamente, podemos afirmar que existe descontinuidade ambivalente.
                </li>

            </ul>
            <br>
            <br>
            <br>
            <ul>
                <h3>01:30 - 02:01</h3>
                <br>
                <h3>Descontinuidades - Som</h3>
                <br>
                <li>
                    Existe claramente um padrão contínuo na mudança do som ao longo desta secção, tornando-se repetitivo e podendo o visualizador perder a atenção. Por isso, existe continuidade progressiva.
                </li>

            </ul style="margin-bottom: 42px;">
          </div>

          <div class="segmento">
            <h3>Análise do Vídeo da Peça:</h3>
            <img src="/CM-MEDIA/5/geral.png">
            <video src="/CM-MEDIA/5/video.mp4" loop controls></video>
            <ul>
                <h3>00:00 - 00:09</h3>
                <br>
                <h3>Descontinuidades - Imagem</h3>
                <br>
                <li>
                    Tal como no som, as imagens sucedem uma atrás da outra rapidamente, não havendo possibilidades de perder a atenção. Não há padrões nas transições nem continuidade, portanto existe descontinuidade radical.
                </li>

            </ul>
            <br>
            <br>
            <br>
            <ul>
                <h3>00:09 - 00:30</h3>
                <br>
                <h3>Descontinuidades - Imagem</h3>
                <br>
                <li>
                    Como há um padrão nas transições iniciais, aparecendo diversas vezes as mesmas imagens, é criada uma certa continuidade. Nos últimos segundos, quando o ecrã fica preto quando não há som, também é criada uma continuidade. Todos estas continuidades acontecem em sucessões rápidas e violentas, havendo assim descontinuidade ambivalente.
                </li>

            </ul>
            <br>
            <br>
            <br>
            <ul>
                <h3>00:30 - 00:40</h3>
                <br>
                <h3>Descontinuidades - Imagem</h3>
                <br>
                <li>
                    Ao nível da imagem, existe uma continuidade na mudança de imagem para fundo preto e vice-versa. Esta frequência vai aumentando sempre em padrões iguais, criando uma continuidade progressiva.
                </li>

            </ul>
            <br>
            <br>
            <br>
            <ul>
                <h3>00:40 - 00:51</h3>
                <br>
                <h3>Descontinuidades - Imagem</h3>
                <br>
                <li>
                    Ao nível da imagem, existe uma continuidade na mudança do sapato a raspar no chão para as canetas a batucar e vice-versa. Esta frequência vai aumentando sempre em padrões iguais, criando uma continuidade progressiva.
                </li>

            </ul>
            <br>
            <br>
            <br>
            <ul>
                <h3>00:51 - 01:00</h3>
                <br>
                <h3>Descontinuidades - Imagem</h3>
                <br>
                <li>
                    Ao nível da imagem, existe uma continuidade na mudança de imagem para fundo preto e vice-versa. Esta frequência vai aumentando sempre em padrões iguais, criando uma continuidade progressiva.
                </li>

            </ul>
            <br>
            <br>
            <br>
            <ul>
                <h3>01:00 - 01:09</h3>
                <br>
                <h3>Descontinuidades - Imagem</h3>
                <br>
                <li>
                    Nesta secção do vídeo, as imagens são sempre iguais, levando o visualizador a desviar a atenção e a perder o foco. Devido a estas características, há continuidade estável.
                </li>

            </ul>
            <br>
            <br>
            <br>
            <ul>
                <h3>01:09 - 01:18</h3>
                <br>
                <h3>Descontinuidades - Imagem</h3>
                <br>
                <li>
                    Nesta secção do vídeo, as imagens são sempre iguais, levando o visualizador a desviar a atenção e a perder o foco. Devido a estas características, há continuidade estável.
                </li>

            </ul>
            <br>
            <br>
            <br>
            <ul>
                <h3>01:18 - 01:30</h3>
                <br>
                <h3>Descontinuidades - Imagem</h3>
                <br>
                <li>
                    As imagens sucedem uma atrás da outra rapidamente, não havendo possibilidades de perder a atenção. Não há padrões nas transições nem continuidade, portanto existe descontinuidade radical.
                </li>

            </ul>
            <br>
            <br>
            <br>
            <ul>
                <h3>01:30 - 02:01</h3>
                <br>
                <h3>Descontinuidades - Imagem</h3>
                <br>
                <li>
                    Embora, haja duas mudanças visuais nesta secção, a maioria do vídeo é sempre igual, levando o visualizador a desviar a atenção e perder o foco. Devido a estas características, há continuidade estável.
                </li>

            </ul style="margin-bottom: 42px;">
          </div>

        </article>
      </section>
    </main>
    <footer>
      <div class="footer-content">
        <h3>It was nice having you.</h3>
        <p>
          Hope some of this info was what you were looking for.
          <br>
          Though I'm not actively looking for a new job, I am always searching
          for cool stuff to do. Hit me up if your company could be interested
          in whatever it may be I have to offer. Hit me up if you wanna talk design
          and music and work. Hit me up if you're a startup from a cool place and you'd
          like me to visit. Hit me up if you know of a nice event. Hit me up if you have
          a summer internship (yes, this. I am looking for something extra to do in the
          summer).
        </p>
        <p>
          I'm always available.
          <br>
          <br>
          +351 919 794 638
          <br>
          <a href="mailto:hi@ponce.club">hi@ponce.club</a>
          <br>
          <a href="mailto:simao.nogueira@jeknowledge.com">simao.nogueira@jeknowledge.com</a>
          <br>
          <a href="mailto:simao@pinkroom.co">simao@pinkroom.co</a>
        </p>
        <p>
          Best,
          <br>
          Simão
        </p>
      </div>
    </footer>
    <script src="https://unpkg.com/flooper"></script>
    <script type="text/javascript" src="/js/require.js"></script>
    <script type="text/javascript" src="/js/looper.js"></script>
    <script type="text/javascript" src="/js/hi.js"></script>
  </body>
</html>
