<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="Oi."/>
    <meta property="og:description" content="I'm Simão Ponce de Leão Policarpo Nogueira. I like web stuff. Always have. I also design."/>
    <title>Comunicação e Multimédia - UC</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/cm.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/grid.js"></script>
  </head>
  <style media="screen">
    h1 {
      color: blue;
    }
  </style>
  <body>
    <main>
      <section>
        <div class="flooper-container">
          <div class="c-my-flooper js-flooper1">
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Introdução</h1>
            </div>
          </div>
        </div>
        <h2>
          <a href="../1">Parte 1.1</a>
          <br>
          <a href="../2">Parte 1.2</a>
          <br>
          <a href="../3">Parte 1.3</a>
          <br>
          <a href="../4">Parte 1.4</a>
          <br>
          <br>
          Esta página é dedicada à 2ª Parte do Trabalho para a disciplina de Comunicação
          e Multimédia, leccionada pela Professora Adriana Sá.
          <br>
          Os conteúdos aqui apresentados foram tratados e recolhidos pelos alunos
          Diogo Gonçalves, Diogo Pereira, Lucas Bueno e Simão Nogueira.
          <br>
          <br>
          O âmbito do trabalho em questão visa a análise de vetores tais como as
          relações entre Som e Imagem, as Descontinuidades e Continuidades da
          performance, bem como o mapear de índices de perceção audio-visual.
          <br>
          Dos efeitos perceptivos da dinâmica sonora, da dinâmica visual e da
          relação audio-visual ao longo do tempo, diversas interpretações podem
          ser retiradas da mesma obra, dependendo da do segmento/parte/totalidade observado e ouvido.
          <br>
          "Len Lye's Stop Motion Film", também conhecido por "The Peanut Vendor",
          resulta da experimentação do autor - Len Lye -, um artista da altura que
          lutava por investimentos para os seus filmes e animações.
          <br>
          Um dos primeiros exemplos relatados deste género de animação com um boneco
          articulado e com diversas expressões exculpidas, foi produzido como anúncio
          televisivo e também como forma de interessar possíveis investidores.
          <br>
          Embora tenha tido pouco sucesso, o estilo evoluiu e a rede de conhecidos
          e amigos de Lye conseguiu que mais trabalhos do género fossem comissionados
          ao artista.
          <br>
          <br>
          <a href="http://www.screenonline.org.uk/film/id/531100/index.html">www.screenonline.org.uk</a> - Uma descrição breve sobre o surgir da obra.
          <br>
          <br>
          <a href="http://www.imdb.com/title/tt0024432/">Questões técnicas e Críticas</a>
        </h2>
        <div class="important">
          <p>Diogo Gonçalves - uc2016250936.</p>
          <p>Diogo Pereira - uc2016250936.</p>
          <p>Lucas Bueno - uc2016250936.</p>
          <p>Simão Nogueira - uc2016250936.</p>
        </div>
      </section>
      <section>
        <div class="flooper-container">
          <div class="c-my-flooper js-flooper2">
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1.2 - #1</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1.2 - #1</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1.2 - #1</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1.2 - #1</h1>
            </div>
          </div>
        </div>
        <article>
          <h3>The Peanut Vendor</h3>
          <p>
            Um exemplo dos primórdios da animação stopmotion.
          </p>
        </article>
        <article>
          <br>
          <br>
          <h3>Totalidade</h3>
          <p>
            À medida que o video desenvolve, a correspondência audio-visual aumenta, tal como a semântica global passa a ser mais ambiental, pois se passa a usar mais o espaço ao seu redor. O som tem poucas variações, contudo podemos denotar algumas quebras no ritmo e mudança de instrumentos, dadas as alterações identificadas.
          </p>
          <div class="segmento">
            <h3>TOTAL - 00:00/00:14</h3>
            <img src="/CM-MEDIA/2/total.png">
            <video src="/CM-MEDIA/2/total.mp4" loop controls></video>
          </div>
        </article>
      </section>
      <section>
        <div class="flooper-container">
          <div class="c-my-flooper js-flooper3">
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1.2 - #2</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1.2 - #2</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1.2 - #2</h1>
            </div>
            <div class="c-my-flooper__el js-flooper-item">
              <h1>Parte 1.2 - #2</h1>
            </div>
          </div>
        </div>
        <article>
          <h3>Por Partes</h3>
          <p>
            Uma abordagem à descontrução da obra. Vetores analisados graficamente
            consoante método apresentado na aula.
          </p>
          <div class="segmento">
            <h3>Segmento #1 - 00:00/00:07</h3>
            <img src="/CM-MEDIA/2/1.png">
            <video src="/CM-MEDIA/2/1.mp4" loop controls></video>
            <ul>
              <li>Inicio semelhante a series de televisão antigas, pode-se ouvir o ruido da fita por trás, um som constante.</li>

            </ul>
          </div>
          <div class="segmento">
            <h3>Segmento #2 - 00:07/00:19</h3>
            <img src="/CM-MEDIA/2/2.png">
            <video src="/CM-MEDIA/2/2.mp4" loop controls></video>
            <ul>
              <li>Som acompanha o movimento da arvore, uma semantica global mais informacional, o som mantem o mesmo ritmo.</li>

            </ul>
          </div>
          <div class="segmento">
            <h3>Segmento #3 - 00:19/00:49</h3>
            <img src="/CM-MEDIA/2/3.png">
            <video src="/CM-MEDIA/2/3.mp4" loop controls></video>
            <ul>
              <li>Tanto o som como o video passam a ser mais progressivos,  com um aumento do ritmo.</li>

            </ul>
          </div>
          <div class="segmento">
            <h3>Segmento #4 - 00:49/01:22</h3>
            <img src="/CM-MEDIA/2/4.png">
            <video src="/CM-MEDIA/2/4.mp4" loop controls></video>
            <ul>
              <li>Som acompanha o video, com uma ligeira queba no ritmo, há uma correspondência audio-visual.</li>

            </ul>
          </div>
          <div class="segmento">
            <h3>Segmento #5 - 01:22/02:23</h3>
            <img src="/CM-MEDIA/2/5.png">
            <video src="/CM-MEDIA/2/5.mp4" loop controls></video>
            <ul>
              <li>A semantica global é mais expressiva, e tanto o som como o video têm uma continuidade mais progressiva.</li>

            </ul>
          </div>
          <div class="segmento">
            <h3>Segmento #6 - 02:23/03:30</h3>
            <img src="/CM-MEDIA/2/6.png">
            <video src="/CM-MEDIA/2/6.mp4" loop controls></video>
            <ul>
              <li>O som mantem-se semelhante mas o sofre algumas quebras, no entanto, a correspondencia audio-visual é conclusiva.</li>

            </ul>
          </div>
          <div class="segmento">
            <h3>Segmento #7 - 03:30/05:19</h3>
            <img src="/CM-MEDIA/2/7.png">
            <video src="/CM-MEDIA/2/7.mp4" loop controls></video>
            <ul>
              <li>A interação atuador/método de atuação é inerente ao ato de tocar,
                mexer, raspar os cactos.</li>

            </ul>
          </div>
          <div class="segmento">
            <h3>Segmento #8 - 05:19/07:16</h3>
            <img src="/CM-MEDIA/2/8.png">
            <video src="/CM-MEDIA/2/8.mp4" loop controls></video>
            <ul>
              <li>Final do video, com uma mudança no som para acompanhar o video.</li>

            </ul>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <div class="footer-content">
        <h3>It was nice having you.</h3>
        <p>
          Hope some of this info was what you were looking for.
          <br>
          Though I'm not actively looking for a new job, I am always searching
          for cool stuff to do. Hit me up if your company could be interested
          in whatever it may be I have to offer. Hit me up if you wanna talk design
          and music and work. Hit me up if you're a startup from a cool place and you'd
          like me to visit. Hit me up if you know of a nice event. Hit me up if you have
          a summer internship (yes, this. I am looking for something extra to do in the
          summer).
        </p>
        <p>
          I'm always available.
          <br>
          <br>
          +351 919 794 638
          <br>
          <a href="mailto:hi@ponce.club">hi@ponce.club</a>
          <br>
          <a href="mailto:simao.nogueira@jeknowledge.com">simao.nogueira@jeknowledge.com</a>
          <br>
          <a href="mailto:simao@pinkroom.co">simao@pinkroom.co</a>
        </p>
        <p>
          Best,
          <br>
          Simão
        </p>
      </div>
    </footer>
    <script src="https://unpkg.com/flooper"></script>
    <script type="text/javascript" src="/js/require.js"></script>
    <script type="text/javascript" src="/js/looper.js"></script>
    <script type="text/javascript" src="/js/hi.js"></script>
  </body>
</html>
